@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .timer {
    font-variation-settings: "opsz" 14, "GRAD" 0, "slnt" 0, "XTRA" 468,
      "XOPQ" 96, "YOPQ" 79, "YTLC" 514, "YTUC" 712, "YTAS" 750, "YTDE" -203,
      "YTFI" 738;
  }

  .timer.paused {
    font-stretch: 110;
  }

  .timer.running {
    font-stretch: 100;
  }
}
